{{ define "main" }}
	<main class="posts">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
		{{ range $paginator.Pages }}
			<h3><a href="{{ .Permalink }}">{{ .Title }}</a><small><time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "Jan 01, 2006" }}</time></small></h3>
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
	<div style="margin: 10px; margin-top: 0;"><small>subscribe <a href="/post/index.xml">via RSS</a></small></div>
{{ end }}
