<header>
	<nav>
		<ul>
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- if page_paths -%}
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title or my_page.nav-title -%}
          <li><a class="nobb" href="{{ my_page.url | relative_url }}">{{ my_page.nav-title | default: my_page.title | escape }}</a></li>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
			<!--li><a class="nobb" href="#">Fsck</a></li-->
		</ul>
	</nav>
	<h1 class="head-title"><a href="./" class="nobb">{{ page.title | default: site.title | escape }}</a></h1>
	<h2 class="sub-title">{{ page.subtitle | default: site.subtitle | escape }}</h2>
	<hr/>
</header>
