@import url( content.css );
@import url( mix_color.css );
HTML {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL LI {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
PRE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TH {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
UL LI {
	LIST-STYLE-TYPE: none
}
DD {
	LIST-STYLE-TYPE: none
}
DT {
	LIST-STYLE-TYPE: none
}
DL {
	LIST-STYLE-TYPE: none
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
TABLE {
	BORDER-COLLAPSE: collapse; EMPTY-CELLS: show
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,'lucida grande',taho,'trebuchet ms',sans-serif; COLOR: #111111
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,'lucida grande',taho,'trebuchet ms',sans-serif; COLOR: #111111
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: verdana,'lucida grande',taho,'trebuchet ms',sans-serif; COLOR: #111111
}
TEXTAREA {
	BORDER-TOP: #dbe6ef 1px solid; BORDER-RIGHT: #dbe6ef 1px solid; BORDER-BOTTOM: #dbe6ef 1px solid; COLOR: #666; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #dbe6ef 1px solid; PADDING-RIGHT: 2px
}
HTML {
	BACKGROUND: #fff; TEXT-ALIGN: center
}
BODY {
	WIDTH: 950px; POSITION: relative; TEXT-ALIGN: left; FONT: 12px/1.2 verdana,SimSun,Arial,Helvetica,'sans-serif'; MARGIN: 0px auto
}
.table {
	FONT-SIZE: 12px; BORDER-SPACING: 0
}
:focus {
	OUTLINE-STYLE: none
}
H1 {
	FONT-SIZE: 16px
}
.h1 {
	FONT-SIZE: 16px
}
H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.h2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
H3 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.h3 {
	FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.font-14 {
	FONT-SIZE: 14px
}
.bold {
	FONT-WEIGHT: bold
}
.indent {
	TEXT-INDENT: -9999em
}
.red {
	COLOR: red !important
}
.blue {
	COLOR: #0268cd
}
.orange {
	COLOR: #ff9900 !important
}
.gray {
	COLOR: #666
}
.black {
	COLOR: #333
}
.bg_white {
	BACKGROUND: white
}
.bg-gray {
	BACKGROUND-COLOR: #f9f9f9
}
.l {
	FLOAT: left
}
.r {
	FLOAT: right
}
.a-l {
	TEXT-ALIGN: left
}
.a-r {
	TEXT-ALIGN: right
}
.a-c {
	TEXT-ALIGN: center
}
.c-b {
	CLEAR: both
}
.block {
	DISPLAY: block
}
.none {
	DISPLAY: none
}
.m-t10 {
	MARGIN-TOP: 10px
}
.m-t8 {
	MARGIN-TOP: 8px
}
.m-r8 {
	MARGIN-RIGHT: 8px
}
.m-lr8 {
	MARGIN-LEFT: 8px; MARGIN-RIGHT: 8px
}
.m-lr10 {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
.m-l10 {
	MARGIN-LEFT: 10px
}
.m-l8 {
	MARGIN-LEFT: 8px
}
.m-b8 {
	MARGIN-BOTTOM: 8px
}
.p-b8 {
	PADDING-BOTTOM: 8px
}
.p-b10 {
	PADDING-BOTTOM: 10px !important
}
.p-10 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.bor_no {
	BORDER-LEFT-WIDTH: 0px !important; BORDER-RIGHT-WIDTH: 0px !important; BORDER-BOTTOM-WIDTH: 0px !important; BORDER-TOP-WIDTH: 0px !important
}
.bg_no {
	BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-RIGHT: 0px !important
}
.bor_b-ccc {
	BORDER-BOTTOM: #e1e1e1 1px solid
}
.bor-ccc {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.columns {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.bor-c_dl DL {
	BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid
}
.inp_txt {
	BORDER-TOP: #7f9db9 1px solid; HEIGHT: 17px; BORDER-RIGHT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; COLOR: #666; BORDER-LEFT: #7f9db9 1px solid; LINE-HEIGHT: 17px
}
.wrap {
	POSITION: relative; MARGIN: 0px auto
}
.v-m {
	VERTICAL-ALIGN: middle
}
.w-950 {
	WIDTH: 950px
}
.w-730 {
	WIDTH: 730px
}
.w-710 {
	WIDTH: 710px
}
.w-550 {
	WIDTH: 550px
}
.w-630 {
	WIDTH: 630px
}
.w-430 {
	WIDTH: 430px
}
.w-428 {
	WIDTH: 428px
}
.w-310 {
	WIDTH: 310px
}
.w-268 {
	WIDTH: 268px
}
.w-270 {
	WIDTH: 270px
}
.w-230 {
	WIDTH: 230px
}
.w-210 {
	WIDTH: 210px
}
.w-110 {
	WIDTH: 110px
}
.w-70 {
	WIDTH: 70px
}
.a-img {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid
}
.a-img2 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid
}
.a-img1 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid
}
.a-img IMG {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.a-img2 IMG {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.a-img1 IMG {
	PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; DISPLAY: block; PADDING-RIGHT: 1px
}
.break {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
.cursor {
	CURSOR: pointer
}
.pos-re {
	POSITION: relative
}
A {
	TEXT-DECORATION: none; COLOR: #0268cd
}
A:hover {
	TEXT-DECORATION: underline; COLOR: #f30 !important
}
.link_orange A {
	TEXT-DECORATION: none; COLOR: #ff3300
}
A.link_orange {
	TEXT-DECORATION: none; COLOR: #ff3300
}
.link_black A {
	TEXT-DECORATION: none; COLOR: #000
}
A.link_black {
	TEXT-DECORATION: none; COLOR: #000
}
.link_blue A {
	COLOR: #0268cd
}
A.link_blue {
	COLOR: #0268cd
}
.link_doc_no {
	COLOR: red !important
}
.i6-ff {
	OVERFLOW: hidden; ZOOM: 1
}
.o-v {
	OVERFLOW: hidden
}
#login {
	HEIGHT: 23px; BACKGROUND: url(login_bg.jpg) #f7f7f8 repeat-x left top; PADDING-BOTTOM: 3px; TEXT-ALIGN: right; PADDING-TOP: 3px; PADDING-LEFT: 0px; LINE-HEIGHT: 23px; PADDING-RIGHT: 0px
}
#login A {
	COLOR: #000
}
#login LI {
	HEIGHT: 17px; BORDER-RIGHT: #ccc 1px solid; ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN-TOP: 3px; DISPLAY: inline; LINE-HEIGHT: 17px; PADDING-RIGHT: 8px
}
#login LI IMG {
	HEIGHT: 17px; VERTICAL-ALIGN: middle
}
.h_msg {
	BACKGROUND: url(shine.gif) no-repeat left top; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px
}
.h_msg:hover {
	TEXT-DECORATION: none
}
#login LI.help {
	BACKGROUND: url(help.gif) no-repeat; PADDING-LEFT: 22px
}
#login .bor_no {
	PADDING-RIGHT: 4px
}
#logo {
	FLOAT: left; MARGIN: 17px 0px 0px 15px
}
#search {
	HEIGHT: 63px; FLOAT: left; MARGIN: 32px 0px 0px 30px; DISPLAY: inline
}
#search LABEL {
	COLOR: #64727e; CLEAR: both; MARGIN-TOP: 5px; DISPLAY: block; LINE-HEIGHT: 22px
}
#search LABEL A {
	COLOR: #094aa1; MARGIN-RIGHT: 8px
}
#search INPUT {
	VERTICAL-ALIGN: middle
}
.btn_txt {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 464px; BACKGROUND: url(sea_input_bg.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 7px; PADDING-TOP: 10px; PADDING-LEFT: 8px; MARGIN: 0px 10px 0px 0px; LINE-HEIGHT: 18px; PADDING-RIGHT: 8px; BORDER-TOP-WIDTH: 0px
}
.btn_inp {
	FONT-SIZE: 14px; PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 2px; LINE-HEIGHT: 20px; PADDING-RIGHT: 2px; MARGIN-RIGHT: 3px
}
.enter_doc {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 27px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 86px; BACKGROUND: url(enter_doc.gif) no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; POSITION: relative; PADDING-TOP: 2px; LEFT: -104px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: -94px
}
.sea_doc {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; HEIGHT: 35px; FONT-FAMILY: SimHei; BORDER-RIGHT-WIDTH: 0px; WIDTH: 87px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 35px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: 10px; TEXT-INDENT: -9999em
}
.img_sea_inp {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; HEIGHT: 35px; FONT-FAMILY: SimHei; BORDER-RIGHT-WIDTH: 0px; WIDTH: 87px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 35px; BORDER-TOP-WIDTH: 0px; MARGIN-RIGHT: 10px; TEXT-INDENT: -9999em
}
.sea_doc {
	BACKGROUND: url(sea_doc.gif) no-repeat
}
.img_sea_inp {
	BACKGROUND: url(img_sea_bg.gif) no-repeat
}
.sea_advanced {
	WIDTH: 30px; VERTICAL-ALIGN: bottom; DISPLAY: inline-block; LINE-HEIGHT: 18px
}
#nav {
	OVERFLOW: hidden; FONT-SIZE: 14px; BORDER-BOTTOM: #1e82ce 1px solid; PADDING-TOP: 20px; CLEAR: both
}
#nav UL {
	WIDTH: 700px; FLOAT: left; PADDING-LEFT: 5px
}
#nav LI {
	OVERFLOW: hidden; HEIGHT: 33px; BACKGROUND: url(nav_li.gif) no-repeat left top; FLOAT: left; LINE-HEIGHT: 33px; MARGIN-RIGHT: 3px
}
#nav A {
	OVERFLOW: hidden; HEIGHT: 32px; BACKGROUND: url(nav_li_a.gif) no-repeat right top; WHITE-SPACE: pre-wrap; WORD-BREAK: keep-all; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 10px; DISPLAY: inline-block; PADDING-RIGHT: 10px
}
#nav LI A:hover {
	TEXT-DECORATION: none
}
#nav LABEL {
	WIDTH: 230px; FLOAT: right
}
#nav LABEL A {
	HEIGHT: 31px; WIDTH: 85px; BACKGROUND: url(inp_btn_bg.gif) no-repeat; FLOAT: right; FONT-WEIGHT: bold; COLOR: #333; TEXT-ALIGN: center; LINE-HEIGHT: 31px; MARGIN-RIGHT: 5px
}
#footer {
	HEIGHT: 60px; BACKGROUND: url(footer_bg.gif) repeat-x left top; FLOAT: left; PADDING-TOP: 10px; CLEAR: both; MARGIN-TOP: 15px; LINE-HEIGHT: 22px
}
#footer-p {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma,taho,verdana,'trebuchet ms',sans-serif; FLOAT: left
}
#footer-p SPAN {
	FONT-WEIGHT: bold; COLOR: #f39700
}
#nav_bot {
	WIDTH: 400px; TEXT-ALIGN: right; CLEAR: right
}
#nav_bot LI {
	BACKGROUND: url(nav_bot_bg.gif) no-repeat right center; MARGIN-LEFT: 10px; DISPLAY: inline; PADDING-RIGHT: 10px
}
#nav_bot .bg_no IMG {
	VERTICAL-ALIGN: middle
}
.ad {
	WIDTH: 100%; PADDING-TOP: 8px; CLEAR: both
}
.ad IMG {
	DISPLAY: block
}
.azmsx {
	OVERFLOW: hidden; ZOOM: 1; COLOR: #6269f7; MARGIN-TOP: 5px
}
.azmsx .col-h2 {
	PADDING-BOTTOM: 11px
}
.azmsx A {
	BORDER-TOP: #bde 1px solid; HEIGHT: 16px; BORDER-RIGHT: #bde 1px solid; BORDER-BOTTOM: #bde 1px solid; FLOAT: left; COLOR: #6269f7; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN-LEFT: 2px; BORDER-LEFT: #bde 1px solid; LINE-HEIGHT: 16px; PADDING-RIGHT: 5px
}
.columns {
	POSITION: relative; MARGIN-TOP: 10px; DISPLAY: block; LINE-HEIGHT: 22px
}
.col-h2 {
	HEIGHT: 21px; BACKGROUND: url(col_h2_bg.gif) repeat-x left top; COLOR: #333; PADDING-BOTTOM: 10px; PADDING-TOP: 3px; PADDING-LEFT: 10px; LINE-HEIGHT: 21px; PADDING-RIGHT: 10px
}
.col-ul {
	COLOR: #333; PADDING-BOTTOM: 3px; MARGIN: 5px 10px 3px
}
.col-dl {
	COLOR: #333; PADDING-BOTTOM: 3px; MARGIN: 5px 10px 3px
}
.col-p {
	COLOR: #333; PADDING-BOTTOM: 3px; MARGIN: 5px 10px 3px
}
.col-ul LI {
	CLEAR: both
}
.col-dl DT {
	MARGIN-BOTTOM: 4px; FONT-SIZE: 14px
}
.col-dl DD {
	COLOR: #666
}
.col-dl DD A {
	COLOR: #0268cd
}
.more {
	RIGHT: 10px; POSITION: absolute; TOP: 3px
}
.entry {
	WHITE-SPACE: pre-wrap
}
.columns .h1 {
	FONT-SIZE: 16px
}
.columns .col-dl P {
	COLOR: #666; LINE-HEIGHT: 20px
}
.columns .col-dl P A {
	WHITE-SPACE: nowrap; WORD-BREAK: keep-all; COLOR: #0268cd
}
.sign {
	VERTICAL-ALIGN: middle; MARGIN: 0px 4px
}
.no_col-h2 {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.table TD {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 4px; LINE-HEIGHT: 24px; PADDING-RIGHT: 4px
}
.point LI {
	OVERFLOW: hidden; VERTICAL-ALIGN: middle; BACKGROUND: url(point.gif) no-repeat left 10px; PADDING-LEFT: 15px
}
.list2 LI {
	OVERFLOW: hidden; WIDTH: 45%; FLOAT: left; CLEAR: none; MARGIN-RIGHT: 3%
}
.list-s LI {
	FLOAT: left; CLEAR: none
}
.list-s2 LI {
	FLOAT: left; CLEAR: none
}
.list-s LI {
	MARGIN-RIGHT: 8px
}
.list-s LI A {
	WHITE-SPACE: nowrap; WORD-BREAK: keep-all; DISPLAY: block
}
.list-s2 LI A {
	WHITE-SPACE: nowrap; WORD-BREAK: keep-all; DISPLAY: block
}
.list-s2 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.list-s2 LI {
	MARGIN: 5px 20px 5px 2px
}
.ul_l_s {
	LINE-HEIGHT: 22px
}
.ul_l_s LI {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 0px; MARGIN-LEFT: 65px; PADDING-RIGHT: 0px
}
.ul_l_s LI SPAN {
	WIDTH: 60px; POSITION: absolute; LEFT: -65px; TOP: 0px; MARGIN-RIGHT: 10px
}
.twhp {
	OVERFLOW: hidden; ZOOM: 1; LINE-HEIGHT: 22px
}
.twhp .a-img1 {
	FLOAT: left; MARGIN: 3px 10px 0px 0px
}
.twhp DD SPAN {
	OVERFLOW: hidden; HEIGHT: 22px; MARGIN-RIGHT: 8px
}
.twhp_dd {
	OVERFLOW: hidden; HEIGHT: 22px; CLEAR: both; DISPLAY: block
}
.twhp_dd SPAN {
	OVERFLOW: hidden; DISPLAY: inline-block
}
.twhp_dd A {
	OVERFLOW: hidden; DISPLAY: inline-block
}
.twhp DD .sign {
	OVERFLOW: hidden; HEIGHT: 16px; WIDTH: 16px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.twhp2 DD .sign {
	OVERFLOW: hidden; HEIGHT: 16px; WIDTH: 16px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.twhp2 {
	POSITION: relative; MARGIN-LEFT: 60px
}
.twhp2 .a-img1 {
	POSITION: absolute; LEFT: -50px; TOP: 4px
}
.twhp2 DD {
	CLEAR: both
}
.j-zhong .a-img1 {
	FONT-FAMILY: Arial; VERTICAL-ALIGN: middle; TEXT-ALIGN: center; DISPLAY: block
}
.j-zhong .a-img1 IMG {
	VERTICAL-ALIGN: middle
}
.qh .col-h2 {
	ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; _padding: 6px 10px 1px 10px
}
.qh .col-h2 A {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 20px; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: url(nav_li.jpg) repeat-x left top; BORDER-BOTTOM: #ccc 0px solid; POSITION: relative; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 6px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 6px; MARGIN-RIGHT: 6px
}
.qh .col-h2 A.on {
	HEIGHT: 20px; BACKGROUND: #fff; POSITION: relative; COLOR: #333; MARGIN-TOP: -1px; TOP: 1px
}
.notice H2 A:hover {
	HEIGHT: 20px; BACKGROUND: #fff; POSITION: relative; COLOR: #333; MARGIN-TOP: -1px; TOP: 1px
}
.reci {
	OVERFLOW: hidden; PADDING-BOTTOM: 1px; _padding-bottom: 3px
}
.reci .col-dl {
	BORDER-BOTTOM: #90cceb 1px dashed; PADDING-BOTTOM: 10px
}
.jcct {
	
}
.jcct .col-dl {
	OVERFLOW: hidden; ZOOM: 1
}
.jcct .col-dl DD.l {
	MARGIN-RIGHT: 10px
}
.jcct .col-dl .a-img {
	OVERFLOW: hidden; FONT-SIZE: 106px; HEIGHT: 122px; FONT-FAMILY: Arial; WIDTH: 160px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center; DISPLAY: block
}
.jcct .a-img IMG {
	MAX-WIDTH: 160px; VERTICAL-ALIGN: middle
}
.jcct .col-ul {
	MARGIN-TOP: 0px; LINE-HEIGHT: 24px
}
.jcct .col-ul LI {
	OVERFLOW: hidden; HEIGHT: 24px; WORD-BREAK: break-all
}
.jcct .col-ul LI {
	HEIGHT: 24px; DISPLAY: block
}
.zjgx UL {
	OVERFLOW: hidden; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
.zjgx UL A {
	OVERFLOW: hidden; HEIGHT: 24px; VERTICAL-ALIGN: middle
}
.zjgx LI {
	MARGIN-BOTTOM: 10px; HEIGHT: 24px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #90cceb 1px dashed; ZOOM: 1; PADDING-BOTTOM: 8px; LINE-HEIGHT: 24px
}
.ctm {
	WIDTH: 160px; FLOAT: left; MARGIN-RIGHT: 8px
}
.zjgx SPAN {
	FONT-SIZE: 11px; COLOR: #999
}
.jc_tj {
	OVERFLOW: hidden; HEIGHT: 110px; WIDTH: 125px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px
}
.jc_tj .a-img {
	OVERFLOW: hidden; FONT-SIZE: 69px; HEIGHT: 81px; FONT-FAMILY: Arial; WIDTH: 108px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center; DISPLAY: block
}
.jc_tj .a-img IMG {
	MAX-WIDTH: 108px; VERTICAL-ALIGN: middle; MAX-HEIGHT: 75px
}
.jc_tj P.a-c {
	MARGIN-TOP: 6px
}
.tjct {
	ZOOM: 1; PADDING-BOTTOM: 3px
}
.jc_tj P {
	MARGIN-RIGHT: 14px
}
:unknown .tjct UL {
	FLOAT: left
}
.tjct .col-ul {
	WORD-WRAP: break-word; BORDER-TOP: #90cceb 1px dashed; WORD-BREAK: break-all; ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.tjct LI {
	OVERFLOW: visible; HEIGHT: 22px; VERTICAL-ALIGN: middle; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-LEFT: 0px; CLEAR: none
}
.tjct LI A {
	HEIGHT: 14px; BORDER-RIGHT: #999 1px solid; WHITE-SPACE: nowrap; WORD-BREAK: keep-all; MARGIN: 4px 8px 4px 0px; DISPLAY: inline-block; LINE-HEIGHT: 14px; PADDING-RIGHT: 8px
}
.zjpl {
	PADDING-BOTTOM: 12px
}
.tpbk {
	PADDING-BOTTOM: 12px
}
.tpbk .jc_tj {
	HEIGHT: 111px
}
.pl_unit {
	OVERFLOW: hidden; BORDER-BOTTOM: #90cceb 1px dashed; COLOR: #666; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px 10px; PADDING-RIGHT: 0px
}
.pl_unit .a-img1 {
	FLOAT: left; MARGIN-RIGHT: 10px
}
.pl_unit .a-img1 IMG {
	HEIGHT: 36px; WIDTH: 36px
}
.pl_unit P {
	LINE-HEIGHT: 20px
}
.pl_unit P A {
	OVERFLOW: hidden; HEIGHT: 20px; COLOR: #0268cd; TEXT-ALIGN: left
}
.error {
	WIDTH: 240px; POSITION: absolute; TEXT-ALIGN: center; LEFT: 10px; DISPLAY: block; TOP: 28px
}
.i-login {
	BACKGROUND: url(index_login_bg.jpg) #f7f7f7 repeat-x left 22px; POSITION: relative; ZOOM: 1; PADDING-BOTTOM: 104px
}
.i-login DD {
	MARGIN: 6px 0px
}
.login-static .col-ul {
	MARGIN-TOP: 15px
}
.login-static LI {
	POSITION: relative; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; MARGIN-LEFT: 60px; PADDING-RIGHT: 0px
}
.login-static LI SPAN {
	WIDTH: 50px; POSITION: absolute; TEXT-ALIGN: right; LEFT: -60px; DISPLAY: block; TOP: 5px
}
.login-static LI .inp_txt {
	HEIGHT: 16px; WIDTH: 120px; VERTICAL-ALIGN: middle; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.yzm INPUT {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 18px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 37px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.yzm LABEL {
	OVERFLOW: hidden; HEIGHT: 18px; WIDTH: 55px
}
.yzm LABEL IMG {
	VERTICAL-ALIGN: middle
}
.novice {
	WIDTH: 219px; BACKGROUND: url(novice.gif) no-repeat left top; POSITION: absolute; LEFT: 5px; BOTTOM: 2px
}
.novice A {
	HEIGHT: 22px; FONT-WEIGHT: bold; COLOR: #666; PADDING-BOTTOM: 4px; PADDING-TOP: 9px; PADDING-LEFT: 55px; DISPLAY: block; PADDING-RIGHT: 8px
}
.i-login .btn_inp {
	VERTICAL-ALIGN: middle; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 2px; LINE-HEIGHT: 15px; PADDING-RIGHT: 2px
}
.i-login .twhp {
	LINE-HEIGHT: 20px
}
.dwsct {
	PADDING-BOTTOM: 2px; _padding-bottom: 3px
}
.dwsct .col-ul {
	OVERFLOW: hidden; ZOOM: 1
}
.azmsx .col-ul {
	OVERFLOW: hidden; ZOOM: 1
}
.yqlj .col-ul {
	MARGIN-TOP: 0px
}
.hd_map {
	BORDER-BOTTOM: #ccc 1px dashed; COLOR: #555; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.title_thema {
	OVERFLOW: hidden; FONT-SIZE: 30px; ZOOM: 1; COLOR: #0268cd; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.comment_thema {
	WIDTH: 620px
}
.title_thema A {
	FONT-SIZE: 14px; MARGIN: 15px 0px 0px 8px
}
.notes {
	OVERFLOW: hidden; ZOOM: 1; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; CLEAR: both; LINE-HEIGHT: 22px; PADDING-RIGHT: 10px
}
.notes P IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 2px
}
.lock_word {
	OVERFLOW: hidden; BORDER-TOP-COLOR: #f39700; BACKGROUND: #ffc; ZOOM: 1; BORDER-LEFT-COLOR: #f39700; PADDING-BOTTOM: 10px; BORDER-BOTTOM-COLOR: #f39700; PADDING-TOP: 10px; PADDING-LEFT: 10px; CLEAR: both; MARGIN: 20px 0px 5px; BORDER-RIGHT-COLOR: #f39700; PADDING-RIGHT: 10px
}
.subordinate {
	COLOR: #333; PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px
}
.subordinate A {
	COLOR: #0268cd
}
.cate_open {
	WIDTH: 400px; FLOAT: left
}
.cate_open A {
	MARGIN-LEFT: 6px
}
.editteam {
	WIDTH: 300px; POSITION: relative; FLOAT: right; TEXT-ALIGN: right
}
.editteam A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.editteam .edit_ct {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 64px; BACKGROUND: url(edit_ct_bg.gif) no-repeat; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px 8px; DISPLAY: inline-block; LINE-HEIGHT: 24px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.editteam .share_link {
	BACKGROUND: url(bookmark/share_f_bg.gif) no-repeat 45px top; PADDING-RIGHT: 16px
}
.share_btn {
	BORDER-TOP: #0085c2 1px solid; BORDER-RIGHT: #0085c2 1px solid; BACKGROUND: url(bookmark/share_bg.gif) #fff no-repeat 3px 0px; BORDER-BOTTOM: #0085c2 1px solid; POSITION: absolute; PADDING-BOTTOM: 4px; TEXT-ALIGN: left; PADDING-TOP: 5px; PADDING-LEFT: 8px; LEFT: 55px; BORDER-LEFT: #0085c2 1px solid; DISPLAY: block; TOP: 25px; PADDING-RIGHT: 8px
}
.share_btn A {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-LEFT: 20px; DISPLAY: block; BORDER-TOP-WIDTH: 0px
}
#catalog {
	BORDER-TOP: #9b9b9b 1px solid; BORDER-RIGHT: #9b9b9b 1px solid; BORDER-BOTTOM: #9b9b9b 1px solid; FLOAT: left; MARGIN-LEFT: 10px; BORDER-LEFT: #9b9b9b 1px solid
}
#catalog LEGEND {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #333; MARGIN-LEFT: 10px
}
#catalog UL {
	PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px
}
#catalog UL LI {
	LINE-HEIGHT: 22px
}
#catalog UL LI A {
	TEXT-DECORATION: none; COLOR: #333
}
#catalog UL LI A:hover {
	TEXT-DECORATION: underline
}
#catalog P {
	TEXT-ALIGN: right; MARGIN: 0px 10px 10px 0px
}
#catalog P A {
	TEXT-DECORATION: none; MARGIN-LEFT: 15px
}
.edition {
	OVERFLOW: hidden; BORDER-TOP: #ff6600 1px solid; BORDER-RIGHT: #ff6600 1px solid; BORDER-BOTTOM: #ff6600 1px solid; ZOOM: 1; MARGIN: 10px 0px; BORDER-LEFT: #ff6600 1px solid; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ffeeda
}
.content_topp {
	OVERFLOW: hidden; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px
}
.content_1 {
	OVERFLOW: hidden; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; CLEAR: both; LINE-HEIGHT: 25px; PADDING-RIGHT: 0px
}
.content_1 A {
	COLOR: #0268cd
}
.content_topp P {
	MARGIN: 0px 0px 10px
}
.content_1 P {
	MARGIN: 0px 0px 10px
}
.content_1 H3 {
	FONT-SIZE: 20px; WIDTH: 698px; BORDER-BOTTOM: #9b9b9b 1px dashed; FLOAT: left; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN: 20px 0px 15px; PADDING-RIGHT: 5px
}
.content_1 H3 A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: normal; PADDING-LEFT: 10px
}
.texts {
	WIDTH: 570px; FLOAT: left
}
.font_1 {
	FONT-SIZE: 14px
}
.font_2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.font_3 {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-STYLE: italic
}
.font_4 {
	FONT-SIZE: 14px; FONT-FAMILY: "KaiTi"
}
.font_5 {
	FONT-SIZE: 14px; COLOR: #ff0000
}
.ct-label {
	BACKGROUND: #f7f7f8; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 0px; MARGIN: 10px 0px; LINE-HEIGHT: 24px; PADDING-RIGHT: 0px
}
.ct-label A {
	MARGIN: 0px 5px
}
.hdwiki_tmmll {
	FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.fj_list {
	MARGIN-BOTTOM: 15px; CLEAR: both; LINE-HEIGHT: 18px
}
.fj_list H3 {
	HEIGHT: 30px; BACKGROUND: url(fujian_top_bg.jpg) repeat-x left top; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 35px; PADDING-RIGHT: 10px
}
.fj_list DL {
	COLOR: #666; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.fj_list DT {
	CLEAR: both; DISPLAY: block
}
.fj_list DT A.l {
	MARGIN-RIGHT: -20px
}
.fj_list DT SPAN.l {
	WHITE-SPACE: pre-wrap; WORD-BREAK: keep-all; PADDING-LEFT: 25px
}
.fj_list DD {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; PADDING-LEFT: 28px; CLEAR: both; MARGIN: 0px 0px 8px; PADDING-RIGHT: 5px
}
.inp_del {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 60px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 15px; BORDER-TOP-WIDTH: 0px; BACKGROUND-COLOR: transparent
}
.up_fj {
	HEIGHT: 22px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; LINE-HEIGHT: 22px; PADDING-RIGHT: 2px
}
.fj_img {
	HEIGHT: 16px; WIDTH: 16px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 5px
}
.useful_for_me {
	OVERFLOW: hidden; COLOR: #666; MARGIN: 30px 0px 0px
}
.useful_for_me SPAN {
	WIDTH: 550px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 12px; LINE-HEIGHT: 20px; PADDING-RIGHT: 12px
}
.useful_for_me A {
	HEIGHT: 46px; WIDTH: 100px; BACKGROUND: url(useful_for_me.gif) no-repeat left top; FLOAT: left; COLOR: #666; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 12px; LINE-HEIGHT: 20px; PADDING-RIGHT: 12px
}
.useful_for_me A:hover {
	TEXT-DECORATION: none; BACKGROUND-POSITION: left -62px; COLOR: white
}
.useful_for_me B {
	FONT-FAMILY: "Tahoma"; FONT-WEIGHT: bold; COLOR: #2aa8e3; PADDING-LEFT: 30px; DISPLAY: block
}
.useful_for_me A:hover B {
	COLOR: white
}
.notes .add_synonym {
	PADDING-TOP: 5px
}
.add P {
	OVERFLOW: hidden; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.add LABEL A {
	WHITE-SPACE: nowrap; WORD-BREAK: keep-all; MARGIN-RIGHT: 8px
}
.comment .col-ul {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.comment .col-ul LI {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.comment INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.comment IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.comment .area {
	VERTICAL-ALIGN: top; MARGIN-RIGHT: 12px
}
.comment .title_thema STRONG {
	FONT-SIZE: 14px; MARGIN-TOP: 12px
}
#cklsbb {
	OVERFLOW: hidden; BORDER-BOTTOM: #ccc 1px dashed; COLOR: #666; PADDING-BOTTOM: 6px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 8px 0px; LINE-HEIGHT: 20px; PADDING-RIGHT: 0px
}
#cklsbb LABEL {
	COLOR: #333333; MARGIN: 0px 15px 0px 5px
}
#cklsbb A {
	WHITE-SPACE: pre; MARGIN: 0px 8px 0px 4px; DISPLAY: inline-block
}
.LeftFrame {
	OVERFLOW: scroll; BORDER-TOP: #ccc 1px solid; HEIGHT: 570px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 48%; BORDER-BOTTOM: #ccc 1px solid; FLOAT: left; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 8px
}
.RightFrame {
	OVERFLOW: scroll; BORDER-TOP: #ccc 1px solid; HEIGHT: 570px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 48%; BORDER-BOTTOM: #ccc 1px solid; FLOAT: left; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 8px
}
.fanwei {
	HEIGHT: 15px; WIDTH: 45px; MARGIN: 10px 15px 0px 5px; DISPLAY: inline-block
}
.dian {
	HEIGHT: 15px; WIDTH: 45px; MARGIN: 10px 15px 0px 5px; DISPLAY: inline-block
}
.fanwei {
	BACKGROUND: #ccf533
}
.dian {
	BACKGROUND: #e99bff; MARGIN-LEFT: 30px
}
.edition UL {
	WIDTH: 450px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.ctxx .col-dl DT {
	FONT-SIZE: 12px
}
.ctxx .col-ul {
	BORDER-TOP: 1px dashed; BORDER-RIGHT: 0px dashed; BORDER-BOTTOM: 0px dashed; PADDING-TOP: 8px; BORDER-LEFT: 0px dashed
}
.ctgl DL {
	OVERFLOW: hidden; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 12px; MARGIN: 1px
}
.ctgl DT {
	BACKGROUND: #dcdcdc; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
.ctgl DD {
	ZOOM: 1; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px
}
.ctgl DD.a-c {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.ctgl DD LABEL {
	WIDTH: 80px
}
#related_doc LI {
	WORD-WRAP: break-word; WORD-BREAK: break-all
}
.pop {
	OVERFLOW: hidden; BACKGROUND: #fff; POSITION: absolute; PADDING-BOTTOM: 16px; Z-INDEX: 1000
}
.pop .p-h2 {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: url(pop_bg.gif) repeat-x left top; BORDER-BOTTOM-WIDTH: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 29px; PADDING-RIGHT: 10px; BORDER-TOP-WIDTH: 0px
}
.pop .p-p {
	PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.pop .p-ul {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.pop .p-ul LI {
	VERTICAL-ALIGN: middle; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.pop .p-ul LI INPUT {
	MARGIN-RIGHT: 8px
}
.pop btn_inp {
	VERTICAL-ALIGN: middle; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; PADDING-LEFT: 4px; LINE-HEIGHT: 12px; PADDING-RIGHT: 4px
}
.pop .inp_txt {
	HEIGHT: 16px
}
#p_synonym {
	WIDTH: 440px; RIGHT: 400px; LINE-HEIGHT: 22px; TOP: 1820px
}
#p_synonym .p-ul {
	ZOOM: 1
}
#p_synonym .p-ul LI {
	WIDTH: 190px; FLOAT: left; MARGIN: 0px 8px; DISPLAY: inline
}
#p_synonym .p-ul LI SPAN {
	CURSOR: pointer
}
#p_rel_word {
	OVERFLOW: hidden; WIDTH: 460px; LEFT: -460px; TOP: 0px
}
#p_rel_word .inp_txt {
	WIDTH: 180px
}
#p_rel_word OL {
	MARGIN-LEFT: 25px
}
.comment .col-h2 {
	DISPLAY: block
}
.comment .col-h2 A {
	BACKGROUND: url(comment_title_bg.gif) no-repeat left center; PADDING-LEFT: 18px
}
.com_content {
	BACKGROUND: #f6f6f6; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 1px; PADDING-RIGHT: 10px
}
.com_content P.a-r SPAN {
	CURSOR: pointer; MARGIN-LEFT: 6px
}
.com_content P.a-r IMG {
	VERTICAL-ALIGN: middle
}
.com_content CITE {
	MARGIN-BOTTOM: 8px; BORDER-TOP: #f39700 1px solid; BORDER-RIGHT: #f39700 1px solid; BACKGROUND: #ffffcc; BORDER-BOTTOM: #f39700 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #f39700 1px solid; DISPLAY: block; PADDING-RIGHT: 10px
}
.com_content .build {
	MARGIN-BOTTOM: 8px; BORDER-TOP: #f39700 1px solid; BORDER-RIGHT: #f39700 1px solid; BACKGROUND: #ffffcc; BORDER-BOTTOM: #f39700 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #f39700 1px solid; DISPLAY: block; PADDING-RIGHT: 10px
}
.com_content CITE SPAN {
	OVERFLOW: hidden; MARGIN-BOTTOM: 4px; TEXT-ALIGN: right; DISPLAY: block; PADDING-RIGHT: 10px
}
.com_content CITE LABEL {
	MARGIN-RIGHT: 10px
}
#fenye {
	HEIGHT: 18px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 18px; PADDING-RIGHT: 10px
}
#fenye A {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: inline-block; PADDING-RIGHT: 6px
}
#fenye SPAN {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 6px; DISPLAY: inline-block; PADDING-RIGHT: 6px
}
#fenye A {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
#fenye SPAN {
	COLOR: #ff0084
}
#category DL {
	BORDER-TOP-STYLE: dashed; BACKGROUND: #fafafa; BORDER-BOTTOM-STYLE: dashed; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: dashed
}
.category DL {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 20px; PADDING-RIGHT: 10px
}
.category DT {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; CLEAR: both; DISPLAY: block
}
.category DD {
	FLOAT: left; MARGIN-RIGHT: 8px
}
.category DD A {
	WHITE-SPACE: nowrap; COLOR: #666; DISPLAY: block
}
.cate_show .col-dl {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 8px; MARGIN-TOP: 12px
}
.cate_show DD A {
	MARGIN: 0px 8px
}
.version_title {
	BACKGROUND: #f7f7f7; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; DISPLAY: block; PADDING-RIGHT: 10px
}
.version TABLE {
	BORDER-BOTTOM: #ccc 1px dashed; MARGIN-TOP: 20px
}
.version TABLE THEAD TD {
	BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 0px dashed; BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 0px dashed
}
.version TABLE TD {
	HEIGHT: 24px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; LINE-HEIGHT: 20px; PADDING-RIGHT: 8px
}
.version TABLE TD {
	VERTICAL-ALIGN: middle
}
.version TABLE IMG {
	VERTICAL-ALIGN: middle
}
.operation_btn .btn_inp {
	MARGIN: 10px 10px 0px 0px
}
.adv_search {
	BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed; BACKGROUND: #fafafa; BORDER-BOTTOM: #ccc 1px dashed; ZOOM: 1; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #ccc 1px dashed; PADDING-RIGHT: 10px
}
.adv_search UL {
	LINE-HEIGHT: 22px
}
.adv_search LI {
	POSITION: relative; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; MARGIN-LEFT: 85px; PADDING-RIGHT: 0px
}
.adv_search LI SPAN {
	WIDTH: 60px; POSITION: absolute; LEFT: -65px; DISPLAY: block
}
.adv_search LI LABEL {
	MARGIN-RIGHT: 8px
}
.adv_search LI SELECT {
	MARGIN-RIGHT: 8px
}
.adv_search LI LABEL INPUT {
	MARGIN-RIGHT: 4px
}
.resoult_total {
	BACKGROUND: #f5f5f5; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 12px; MARGIN: 10px 0px 0px; PADDING-RIGHT: 12px
}
.resoult_list {
	LINE-HEIGHT: 22px
}
.resoult_list DD A {
	MARGIN: 0px 8px
}
.resoult_list DT A {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-WEIGHT: normal; COLOR: #261cdc
}
.success {
	PADDING-BOTTOM: 100px; PADDING-TOP: 100px; PADDING-LEFT: 220px; PADDING-RIGHT: 220px
}
.success DL {
	BACKGROUND: url(success.gif) no-repeat left top; ZOOM: 1; COLOR: #666; PADDING-LEFT: 100px; LINE-HEIGHT: 24px
}
.success DT {
	MARGIN-BOTTOM: 4px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px
}
.register {
	MARGIN-TOP: 20px
}
.reg-r {
	HEIGHT: 345px; WIDTH: 390px; BACKGROUND: #e8e8e8; POSITION: relative; MARGIN: 3px 0px 0px 3px
}
.reg_main {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 343px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 388px; BACKGROUND: #f7f7f7; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; LEFT: -4px; BORDER-LEFT: #ccc 1px solid; TOP: -4px
}
.reg_main H2 {
	HEIGHT: 27px; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 12px; LINE-HEIGHT: 27px; PADDING-RIGHT: 12px
}
.reg_main LI {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN-LEFT: 70px; PADDING-RIGHT: 0px
}
.reg_main LI SPAN {
	WIDTH: 60px; LEFT: -70px; TOP: 18px
}
.reg_main LI .inp_txt {
	WIDTH: 100px
}
.reg_main LI INPUT {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 8px
}
.reg_main LI LABEL {
	FONT-FAMILY: SimSun, Arial, Helvetica, sans-serif
}
.register .col-dl {
	MARGIN-BOTTOM: 10px; WIDTH: 395px; FLOAT: left; PADDING-LEFT: 70px; MARGIN-TOP: 20px; LINE-HEIGHT: 22px
}
.gr DD A {
	MARGIN: 0px 6px
}
.gr_info .col-dl {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.gr_info DD.h2 {
	MARGIN-TOP: 10px
}
.gr_info .a-img2 {
	OVERFLOW: hidden; WIDTH: 94px; DISPLAY: inline-block
}
.gr_info .a-img2 IMG {
	WIDTH: 90px
}
.gr_info DD IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.sidebar LI {
	MARGIN-BOTTOM: 4px; BORDER-TOP: #ccc 1px dashed; HEIGHT: 36px; BORDER-RIGHT: #ccc 1px dashed; WIDTH: 228px; BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; DISPLAY: block; LINE-HEIGHT: 36px
}
.sidebar LI A {
	HEIGHT: 16px; BACKGROUND: #fafafa; COLOR: #333; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 40px; DISPLAY: block; LINE-HEIGHT: 16px; PADDING-RIGHT: 10px
}
.sidebar LI A:hover {
	TEXT-DECORATION: none; BACKGROUND: #e0e0e0
}
.sidebar LI A.on {
	TEXT-DECORATION: none; BACKGROUND: #e0e0e0
}
.sidebar LI IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.bang_main .col-dl {
	MARGIN: 10px 20px
}
.bang_main DT {
	FONT-SIZE: 12px; BORDER-BOTTOM: #666 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.bang_main DL .l {
	WIDTH: 500px; MARGIN-RIGHT: 10px
}
.bang_main DD {
	OVERFLOW: hidden; BORDER-BOTTOM: #ccc 1px dashed; ZOOM: 1; PADDING-BOTTOM: 2px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.bang_main DD A {
	FLOAT: left
}
.bang_main DD A.l IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 4px
}
.gl_manage H2 {
	MARGIN-BOTTOM: 6px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.gl_manage H2 SPAN {
	HEIGHT: 21px; BACKGROUND: url(gl_manage/gl_h2_bg.gif) no-repeat left -2px; PADDING-LEFT: 15px; DISPLAY: block; LINE-HEIGHT: 21px
}
.gl_manage_main H2 {
	MARGIN-BOTTOM: 20px; BACKGROUND: url(gl_manage/gl_man_main_bg.gif) repeat-x left bottom; PADDING-BOTTOM: 16px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.gl_manage_main .col-dl {
	OVERFLOW: visible; POSITION: relative; MARGIN-LEFT: 130px; LINE-HEIGHT: 25px
}
.gl_manage_main .col-dl .a-img2 {
	POSITION: absolute; LEFT: -110px; TOP: 0px
}
.gl_manage_main .col-dl DD {
	VERTICAL-ALIGN: middle
}
.gl_manage_main {
	LINE-HEIGHT: 22px
}
.gl_manage_main .col-ul LI {
	POSITION: relative; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; MARGIN-LEFT: 110px; PADDING-RIGHT: 0px
}
.gl_manage_main .col-ul LI SPAN {
	WIDTH: 90px; POSITION: absolute; TEXT-ALIGN: right; LEFT: -100px; DISPLAY: block; TOP: 4px
}
.gl_manage_main LI LABEL INPUT {
	MARGIN-RIGHT: 4px
}
.gl_manage_main .inp_txt {
	HEIGHT: 16px; LINE-HEIGHT: 16px
}
.info_other {
	MARGIN: 30px 0px 0px 130px; LINE-HEIGHT: 22px
}
.info_other H3 {
	MARGIN-BOTTOM: 10px; BORDER-BOTTOM-STYLE: dashed; PADDING-BOTTOM: 4px; PADDING-TOP: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.info_other .table {
	WIDTH: 100%
}
.message {
	WIDTH: 100%
}
.info_other .table TD {
	HEIGHT: 24px
}
.message TD {
	HEIGHT: 24px
}
.up_load {
	FLOAT: left; MARGIN: 16px 0px 0px 20px
}
.file {
	HEIGHT: 30px; WIDTH: 220px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; LINE-HEIGHT: 30px; PADDING-RIGHT: 2px
}
:unknown .file {
	HEIGHT: 28px; WIDTH: 190px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; LINE-HEIGHT: 28px; PADDING-RIGHT: 2px
}
.message TD {
	HEIGHT: 22px; VERTICAL-ALIGN: top; BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 8px; LINE-HEIGHT: 22px; PADDING-RIGHT: 8px
}
.message_tip {
	BACKGROUND: url(draft.jpg) no-repeat left 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 23px; PADDING-RIGHT: 5px
}
#send LI {
	MARGIN-LEFT: 60px
}
#send LI SPAN {
	WIDTH: 40px; LEFT: -50px
}
.jfhl_theme {
	BACKGROUND: #f6f6f6; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; MARGIN: 1px; PADDING-RIGHT: 10px
}
.jfhl_theme P {
	WIDTH: 210px
}
.jfhl_theme IMG {
	MARGIN: 30px 0px 0px 70px
}
.redeed_present {
	PADDING-BOTTOM: 20px
}
.redeed_present LI {
	WIDTH: 112px; FLOAT: left; CLEAR: none; MARGIN: 10px 15px 20px 10px; DISPLAY: inline
}
.redeed_present .a-img1 {
	OVERFLOW: hidden; FONT-SIZE: 96px; HEIGHT: 110px; WIDTH: 110px
}
.lp_info .a-img1 {
	OVERFLOW: hidden; FONT-SIZE: 96px; HEIGHT: 110px; WIDTH: 110px
}
.redeed_present P {
	PADDING-BOTTOM: 6px; TEXT-ALIGN: center; PADDING-TOP: 6px; PADDING-LEFT: 0px; LINE-HEIGHT: 18px; PADDING-RIGHT: 0px
}
.redeed_present P A {
	OVERFLOW: hidden; HEIGHT: 18px; DISPLAY: block
}
.redeem {
	TEXT-ALIGN: center; DISPLAY: block
}
#zxdtold P SPAN {
	WORD-BREAK: break-all
}
#tj_lpdh {
	WIDTH: 530px; LEFT: 100px; TOP: 200px
}
.lp_info {
	BORDER-BOTTOM: #ccc 1px dashed; MARGIN: 10px 10px 0px
}
.lp_img_turn {
	WIDTH: 112px; MARGIN-RIGHT: 20px
}
.lp_info P {
	POSITION: relative; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px
}
.oth_img {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 38px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 38px; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.prev {
	HEIGHT: 40px; WIDTH: 10px; POSITION: absolute; TOP: 10px
}
.next {
	HEIGHT: 40px; WIDTH: 10px; POSITION: absolute; TOP: 10px
}
.prev {
	BACKGROUND: url(jfhl/Prev.gif) no-repeat left center; LEFT: 0px
}
.next {
	BACKGROUND: url(jfhl/next.gif) no-repeat right center; RIGHT: 0px
}
.lp_info UL {
	MARGIN-LEFT: 134px
}
.real_info {
	MARGIN: 0px 10px
}
.real_info LI {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; MARGIN-LEFT: 110px; PADDING-RIGHT: 0px
}
.real_info LI SPAN {
	WIDTH: 100px; TEXT-ALIGN: right; LEFT: -110px; DISPLAY: block; TOP: 10px
}
.real_info .inp_txt {
	VERTICAL-ALIGN: middle
}
.s_result {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 660px; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fafafa; BORDER-BOTTOM: #ccc 1px solid; COLOR: #333; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; PADDING-LEFT: 16px; BORDER-LEFT: #ccc 1px solid; LINE-HEIGHT: 22px; PADDING-RIGHT: 16px
}
.theme_img {
	WIDTH: 162px; PADDING-BOTTOM: 40px; PADDING-TOP: 40px; PADDING-LEFT: 0px; MARGIN: 0px auto; DISPLAY: block; PADDING-RIGHT: 0px
}
.theme_img .a-img1 {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 106px; HEIGHT: 122px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 160px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.dt_list {
	OVERFLOW: hidden; PADDING-BOTTOM: 20px; LINE-HEIGHT: 22px
}
.dt_list LI {
	HEIGHT: 40px; WIDTH: 180px; POSITION: relative; FLOAT: left; TEXT-ALIGN: center; PADDING-TOP: 160px; MARGIN: 0px 10px 12px
}
.dt_element {
	WIDTH: 170px; POSITION: absolute; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 5px; LEFT: 0px; PADDING-RIGHT: 5px; BOTTOM: 45px
}
.dt_element A {
	DISPLAY: block
}
.dt_list P {
	OVERFLOW: hidden
}
.dt_list P SPAN {
	MARGIN-RIGHT: 12px
}
.tpbk_sideba .columns .col-h2 {
	BORDER-BOTTOM-WIDTH: 0px
}
.tpbk_img_list LI {
	WIDTH: 156px; FLOAT: left; MARGIN: 10px 8px
}
.tpbk_img_list LI LABEL {
	MARGIN-BOTTOM: 10px; BORDER-TOP: #e1e1e1 1px solid; HEIGHT: 140px; BORDER-RIGHT: #e1e1e1 1px solid; WIDTH: 140px; BACKGROUND: #f7f7f7; BORDER-BOTTOM: #e1e1e1 1px solid; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 8px; BORDER-LEFT: #e1e1e1 1px solid; DISPLAY: block; PADDING-RIGHT: 8px
}
.tpbk_img_list LI LABEL .a-img1 {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 116px; HEIGHT: 140px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 140px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.tpbk_img_list LI .a-c {
	OVERFLOW: hidden; MARGIN-BOTTOM: 4px; HEIGHT: 18px; DISPLAY: block
}
.view_img {
	BORDER-TOP: #d9d9d9 1px solid; HEIGHT: 85px; BORDER-RIGHT: #d9d9d9 1px solid; BACKGROUND: #eaeaea; BORDER-BOTTOM: #d9d9d9 1px solid; POSITION: relative; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; PADDING-LEFT: 40px; BORDER-LEFT: #d9d9d9 1px solid; PADDING-RIGHT: 40px
}
.view_img UL {
	OVERFLOW: hidden; HEIGHT: 64px; PADDING-BOTTOM: 9px; PADDING-TOP: 9px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.view_img LI {
	FLOAT: left; MARGIN: 0px 5px 10px 0px
}
.view_img LI .a-img1 {
	FONT-SIZE: 55px; HEIGHT: 64px; WIDTH: 64px; BACKGROUND: #fff
}
.view_img LI .a-img1 IMG {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.view_n {
	POSITION: absolute; TOP: 5px
}
.view_p {
	POSITION: absolute; TOP: 5px
}
.view_p {
	LEFT: 5px
}
.view_n {
	RIGHT: 5px
}
.tpbk_content {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 5px; MARGIN: 1px 0px 10px; PADDING-RIGHT: 5px
}
.tpbk_content TD {
	BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 4px; PADDING-TOP: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px
}
.tpbk_content THEAD TD {
	BACKGROUND: #f6f6f6; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 5px; LINE-HEIGHT: 20px; PADDING-RIGHT: 5px
}
.tupian_info {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.tupian_info TD {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 8px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 8px
}
.view_datu {
	MARGIN: 30px auto 10px
}
.view_datu IMG {
	MAX-WIDTH: 930px
}
.prev_and_next A {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.tupk_view #fenye {
	HEIGHT: 24px
}
.dws_list {
	LINE-HEIGHT: 22px
}
.dws_list LI {
	OVERFLOW: hidden; HEIGHT: 22px; WIDTH: 22%; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 1%; PADDING-RIGHT: 2%
}
.dws_list LI A {
	OVERFLOW: hidden; HEIGHT: 22px; DISPLAY: block
}
.dws_h2 {
	FONT-SIZE: 16px; COLOR: #0268cd; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.cre_main {
	MARGIN-TOP: 0px
}
.cre_r {
	MARGIN-TOP: 0px
}
.cre_main .ul_l_s LI {
	MARGIN: 4px 0px 4px 180px
}
.cre_main .inp_txt {
	HEIGHT: 18px
}
.cre_main .ul_l_s LI SPAN {
	WIDTH: 80px; LEFT: -80px
}
.cre_main .ul_l_s LI A {
	MARGIN-RIGHT: 8px
}
.chose {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 139px; BACKGROUND: url(btn_bg.gif) no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.cre_r H3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 8px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.cre_search {
	PADDING-BOTTOM: 8px; MARGIN: 10px 0px; BACKGROUND-COLOR: #ffc
}
.cre_search_r {
	
}
.lm {
	MARGIN-LEFT: 0px
}
.chose_cate H3 {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 4px; MARGIN: 0px 10px 10px
}
.chose_cate DL {
	PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 0px; CLEAR: both; PADDING-RIGHT: 0px
}
.chose_cate LABEL {
	COLOR: #0169cc; MARGIN-RIGHT: 4px
}
.chose_cate LABEL INPUT {
	CURSOR: pointer; MARGIN-RIGHT: 4px
}
.chose_cate IMG {
	CURSOR: pointer; MARGIN-RIGHT: 4px
}
.chose_cate DT {
	MARGIN-BOTTOM: 4px; HEIGHT: 22px; COLOR: #474747
}
.chose_cate DD {
	WHITE-SPACE: nowrap; ZOOM: 1; FLOAT: left; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-RIGHT: 10px
}
.chose_cate P.a-c {
	BORDER-TOP: #ccc 1px dashed; PADDING-TOP: 6px; MARGIN: 0px 12px
}
.chose_cate P.a-r {
	OVERFLOW: hidden; ZOOM: 1; CLEAR: both
}
.chose_cate_doc {
	POSITION: static
}
.reg-back {
	PADDING-TOP: 30px; CLEAR: both; MARGIN: 0px auto
}
.reg-bd {
	WIDTH: 490px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 20px; PADDING-TOP: 30px; PADDING-LEFT: 30px; CLEAR: both; MARGIN: 5px auto 50px; LINE-HEIGHT: 20px; PADDING-RIGHT: 20px
}
.reg-bd LI {
	MARGIN-LEFT: 100px
}
.reg-bd LI SPAN {
	WIDTH: 75px; TEXT-ALIGN: right; LEFT: -90px
}
.reference {
	OVERFLOW: hidden; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; PADDING-LEFT: 5px; LINE-HEIGHT: 18px; PADDING-RIGHT: 5px
}
.reference DT {
	FONT-WEIGHT: bold
}
.reference DD {
	PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 1em; PADDING-RIGHT: 0px
}
.reference INPUT {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 300px; BACKGROUND: #f7f7f7; BORDER-BOTTOM-WIDTH: 0px; COLOR: #999; BORDER-TOP-WIDTH: 0px
}
.reference DD SPAN {
	WIDTH: 25px; MARGIN-RIGHT: 4px
}
.share {
	HEIGHT: 400px; WIDTH: 490px
}
.share UL {
	PADDING-LEFT: 10px; LINE-HEIGHT: 22px
}
.share LI {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.share LI .inp_txt {
	HEIGHT: 16px; WIDTH: 170px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 4px; LINE-HEIGHT: 16px; PADDING-RIGHT: 4px
}
.share LI .textarea {
	BORDER-TOP: #7f9db9 1px solid; BORDER-RIGHT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 4px; BORDER-LEFT: #7f9db9 1px solid; PADDING-RIGHT: 4px
}
.share LI .inp_del {
	MARGIN-LEFT: 8px
}
.share .ul_l_s {
	COLOR: #666
}
.share LI .gray {
	COLOR: #999
}
.share SPAN {
	FONT-WEIGHT: bold
}
.close {
	FLOAT: right; MARGIN-TOP: 6px
}
.img_yzm {
	OVERFLOW: hidden; HEIGHT: 22px; WIDTH: 60px; VERTICAL-ALIGN: middle; DISPLAY: inline-block
}
.img_yzm IMG {
	HEIGHT: 34px; WIDTH: 90px; MARGIN: -5px 0px 0px -5px
}
.share_tit {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #333; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.zjgx2 UL {
	OVERFLOW: hidden
}
.zjgx2 UL A {
	OVERFLOW: hidden; HEIGHT: 20px; VERTICAL-ALIGN: middle
}
.zjgx2 LI {
	MARGIN-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ccc 1px dashed; ZOOM: 1; PADDING-BOTTOM: 2px; TEXT-ALIGN: right
}
.zjgx2 .ctm {
	FLOAT: left; TEXT-ALIGN: left; DISPLAY: inline
}
.zjgx2 SPAN {
	FONT-SIZE: 11px
}
.w-270 .jc_tj {
	HEIGHT: 80px; WIDTH: 70px
}
.w-270 .jc_tj .a-img {
	HEIGHT: 53px; WIDTH: 68px
}
.w-270 .jc_tj .a-img IMG {
	MAX-WIDTH: 60px; MAX-HEIGHT: 45px
}
.w-270 .a-img IMG {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.w-270 .tjct LI {
	WIDTH: 105px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px
}
.w-230 .jc_tj {
	HEIGHT: 70px; WIDTH: 60px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; PADDING-LEFT: 12px; PADDING-RIGHT: 0px
}
.w-230 .jc_tj .a-img {
	HEIGHT: 46px; WIDTH: 60px
}
.w-230 .jc_tj .a-img IMG {
	MAX-WIDTH: 56px; MAX-HEIGHT: 42px
}
.w-230 .a-img IMG {
	PADDING-BOTTOM: 1px; PADDING-TOP: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px
}
.w-230 .tjct LI {
	WIDTH: 95px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-LEFT: 0px
}
.w-230 .azmsx UL {
	MARGIN-RIGHT: -10px
}
.w-230 .azmsx LI {
	HEIGHT: 27px; LINE-HEIGHT: 27px
}
.w-230 .azmsx LI A {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-FAMILY: verdana; BORDER-RIGHT-WIDTH: 0px; WIDTH: 22px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px
}
.style_01 {
	BORDER-TOP: #ecc138 1px solid; BORDER-RIGHT: #ecc138 1px solid; BORDER-BOTTOM: #ecc138 1px solid; BORDER-LEFT: #ecc138 1px solid
}
.style_01 .col-h2 {
	HEIGHT: 24px; BACKGROUND: url(style/bg_x.gif) repeat-x left -30px; BORDER-BOTTOM: #ecc138 1px solid; COLOR: #565656; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.style_01 DT A {
	COLOR: #bb2830
}
.style_01 DD A {
	COLOR: #b4b4b4
}
.style_01 .novice {
	HEIGHT: auto; BACKGROUND: none transparent scroll repeat 0% 0%
}
.style_01 .novice A {
	HEIGHT: 28px; BACKGROUND: url(style/btn01.gif) no-repeat left -180px; FONT-WEIGHT: normal; COLOR: #3e3e3e; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 6px; PADDING-LEFT: 0px; MARGIN-LEFT: 4px; DISPLAY: block; PADDING-RIGHT: 8px
}
.style_01 .novice A:hover {
	TEXT-DECORATION: none; BACKGROUND-POSITION: left -220px; COLOR: #ff6600
}
.style_01 .more {
	COLOR: #666
}
.style_02 .more {
	COLOR: #666
}
.style_01 .qh-h2 {
	ZOOM: 1; oveflow: hidden
}
.style_01 .qh-h2 A {
	PADDING-TOP: 4px
}
.style_02 {
	BORDER-TOP: #c9c9c9 1px solid; BORDER-RIGHT: #c9c9c9 1px solid; BACKGROUND: url(style/02_h2.gif) repeat-x; BORDER-BOTTOM: #c9c9c9 1px solid; BORDER-LEFT: #c9c9c9 1px solid
}
.style_02 .col-h2 {
	HEIGHT: 24px; BACKGROUND: url(style/02_h2_bg.gif) no-repeat 12px -2px; BORDER-BOTTOM: #c9c9c9 1px solid; COLOR: #565656; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 26px; PADDING-RIGHT: 10px
}
.style_02 .qh-h2 A {
	HEIGHT: 23px; FLOAT: left
}
.style_02 .qh-h2 A:hover {
	HEIGHT: 24px
}
.style_02 .qh-h2 A.on {
	HEIGHT: 24px
}
.style_03 {
	BORDER-TOP: #d0dae4 1px solid; BORDER-RIGHT: #d0dae4 1px solid; BACKGROUND: #f4f8fb; BORDER-BOTTOM: #d0dae4 1px solid; BORDER-LEFT: #d0dae4 1px solid
}
.style_03 .col-h2 {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: url(style/icon.gif) no-repeat 10px 8px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #666; PADDING-LEFT: 24px; LINE-HEIGHT: 24px; BORDER-TOP-WIDTH: 0px
}
.style_03 H2.qh-h2 {
	BORDER-BOTTOM: #ccc 1px solid
}
.style_03 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 23px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FLOAT: left; BORDER-TOP-WIDTH: 0px
}
.style_03 .qh-h2 A:hover {
	HEIGHT: 24px; BACKGROUND: #ddd
}
.style_03 .qh-h2 A.on {
	HEIGHT: 24px; BACKGROUND: #ddd
}
.style_04 {
	BORDER-LEFT-WIDTH: 0px; BORDER-TOP: #242424 1px solid; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: #191919; BORDER-BOTTOM-WIDTH: 0px
}
.style_04 .col-ul {
	COLOR: #bbb
}
.style_04 .col-dl {
	COLOR: #bbb
}
.style_04 .col-dl P {
	COLOR: #bbb
}
.style_04 .pl_unit {
	COLOR: #979797
}
.style_04 .col-h2 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; BORDER-TOP-WIDTH: 0px
}
.style_04 DD A {
	TEXT-DECORATION: underline; COLOR: #ff0e52
}
.style_04 .col-dl DD P A {
	TEXT-DECORATION: underline; COLOR: #ff0e52
}
.style_04 .more {
	TEXT-DECORATION: underline; COLOR: #ff0e52
}
.style_04 A {
	COLOR: #ff0e52
}
.style_04 .a-img1 {
	BACKGROUND: #999
}
.style_04 H2.qh-h2 {
	OVERFLOW: hidden; BORDER-BOTTOM: #ccc 1px solid; ZOOM: 1
}
.style_04 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FLOAT: left; BORDER-TOP-WIDTH: 0px
}
.style_04 .qh-h2 A:hover {
	HEIGHT: 22px; BACKGROUND: #ddd
}
.style_04 .qh-h2 A.on {
	HEIGHT: 22px; BACKGROUND: #ddd
}
.style_05 {
	BORDER-TOP: #7cb820 1px solid; BORDER-RIGHT: #7cb820 1px solid; BORDER-BOTTOM: #7cb820 1px solid; BORDER-LEFT: #7cb820 1px solid
}
.style_05 .col-h2 {
	HEIGHT: 28px; BACKGROUND: url(style/dot03.gif) no-repeat 5px 50%; BORDER-BOTTOM: #1a8b00 3px solid; POSITION: relative; COLOR: #1a8b00; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 18px; MARGIN: 0px 10px 1px; LINE-HEIGHT: 28px; PADDING-RIGHT: 0px
}
.style_05 A {
	COLOR: #1a8b00
}
.style_05 DL P A {
	COLOR: #1a8b00
}
.style_05 DL A {
	COLOR: #ff3366
}
.style_05 .more {
	OVERFLOW: hidden; HEIGHT: 9px; WIDTH: 43px; BACKGROUND: url(style/more.gif) no-repeat 0px 0px; RIGHT: 10px; POSITION: absolute; TOP: 10px; TEXT-INDENT: 9999em
}
.style_05 .more:hover {
	BACKGROUND: url(style/more_h.gif)
}
.w-710 .qh-h2 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.w-710 .style_05 .qh-h2 A {
	BORDER-TOP-COLOR: #1a8b00; BORDER-LEFT-COLOR: #1a8b00; BORDER-BOTTOM-COLOR: #1a8b00; MARGIN-TOP: 7px; BORDER-RIGHT-COLOR: #1a8b00; LINE-HEIGHT: 20px
}
.w-710 .style_05 .qh-h2 A:hover {
	BACKGROUND: #1a8b00; COLOR: #fff; MARGIN-TOP: 6px
}
.w-710 .style_05 .qh-h2 A.on {
	BACKGROUND: #1a8b00; COLOR: #fff; MARGIN-TOP: 6px
}
.w-230 .style_05 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: url(style/bg_leftcol.gif) no-repeat center bottom; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.w-230 .style_05 .col-h2 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: url(style/t_lbox1.gif) no-repeat 0px 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; PADDING-BOTTOM: 20px; PADDING-TOP: 16px; PADDING-LEFT: 14px; MARGIN: 0px; PADDING-RIGHT: 14px; BORDER-TOP-WIDTH: 0px
}
.w-230 .style_05 .more {
	TEXT-DECORATION: underline; HEIGHT: 24px; WIDTH: 50px; BACKGROUND: none transparent scroll repeat 0% 0%; RIGHT: 10px; POSITION: absolute; FONT-WEIGHT: bold; COLOR: #fff; TOP: 24px; TEXT-INDENT: 0px
}
.w-230 .style_05 .more:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.w-230 .style_05 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; DISPLAY: none; BORDER-TOP-WIDTH: 0px
}
.w-230 .style_05 .qh-h2 A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; DISPLAY: block
}
.style_05 .qh-h2 A.on {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #fff; DISPLAY: block
}
.w-230 .style_05 #zngg {
	DISPLAY: block !important
}
.style_06 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: #262626 0px 0px; BORDER-BOTTOM-WIDTH: 0px; POSITION: relative; COLOR: #999; BORDER-TOP-WIDTH: 0px
}
.style_06 .col-h2 {
	HEIGHT: 24px; BACKGROUND: #161616; BORDER-BOTTOM: #373737 1px solid; COLOR: #fff; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 24px; PADDING-RIGHT: 10px
}
.style_06 .more {
	OVERFLOW: hidden; HEIGHT: 13px; WIDTH: 43px; BACKGROUND: url(style/more_b.gif) no-repeat 0px 0px; RIGHT: 10px; POSITION: absolute; TOP: 5px; TEXT-INDENT: 9999em
}
.style_06 .more:hover {
	BACKGROUND: url(style/more_b_h.gif)
}
.style_06 .i-login {
	PADDING-BOTTOM: 104px
}
.style_06 DL {
	COLOR: #999
}
.style_06 UL {
	COLOR: #999
}
.style_06 .a-img {
	BACKGROUND: #333
}
.style_06 DL A {
	COLOR: #fff
}
.style_06 DD A {
	COLOR: #fff
}
.style_06 P {
	COLOR: #fff
}
.style_06 DL A:hover {
	COLOR: #3cf !important
}
.style_06 DD A {
	COLOR: #3cf !important
}
.style_06 LI A {
	COLOR: #3cf !important
}
.style_06 P A {
	COLOR: #3cf !important
}
.w-430 .style_06 .col-h2 {
	BACKGROUND: #2f8de5
}
.w-428 .style_06 .col-h2 {
	BACKGROUND: #2f8de5
}
.style_06 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #aaa; MARGIN-TOP: 3px; LINE-HEIGHT: 20px; BORDER-TOP-WIDTH: 0px
}
.style_06 .qh-h2 A:hover {
	BACKGROUND: #373737; COLOR: #fff; MARGIN-TOP: 3px
}
.style_06 .qh-h2 A.on {
	BACKGROUND: #373737; COLOR: #fff; MARGIN-TOP: 3px
}
.w-430 .style_06 .qh-h2 A {
	COLOR: #eee
}
.style_07 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: #d6e5ec; BORDER-BOTTOM-WIDTH: 0px; COLOR: #69c; BORDER-TOP-WIDTH: 0px
}
.style_08 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: #d6e5ec; BORDER-BOTTOM-WIDTH: 0px; COLOR: #69c; BORDER-TOP-WIDTH: 0px
}
.style_07 .col-h2 {
	FONT-SIZE: 14px; HEIGHT: 35px; BACKGROUND: url(style/bg_title.jpg) #051b34 no-repeat right top; BORDER-BOTTOM: #839bb5 1px solid; COLOR: #cf3; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 35px; PADDING-RIGHT: 10px
}
.style_08 .col-h2 {
	FONT-SIZE: 14px; HEIGHT: 35px; BACKGROUND: url(style/bg_title.jpg) #051b34 no-repeat right top; BORDER-BOTTOM: #839bb5 1px solid; COLOR: #cf3; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 10px; LINE-HEIGHT: 35px; PADDING-RIGHT: 10px
}
.style_07 .more {
	OVERFLOW: hidden; HEIGHT: 13px; WIDTH: 50px; BACKGROUND: url(style/more_green.gif); RIGHT: 10px; POSITION: absolute; TOP: 12px; TEXT-INDENT: 9999em
}
.style_08 .more {
	OVERFLOW: hidden; HEIGHT: 13px; WIDTH: 50px; BACKGROUND: url(style/more_green.gif); RIGHT: 10px; POSITION: absolute; TOP: 12px; TEXT-INDENT: 9999em
}
.style_07 .more:hover {
	BACKGROUND: url(style/more_city_h.gif) left top
}
.style_08 .more:hover {
	BACKGROUND: url(style/more_city_h.gif) left top
}
.style_07 .a-img {
	BORDER-TOP-COLOR: #fff; BACKGROUND: #fff; BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.style_08 .a-img {
	BORDER-TOP-COLOR: #fff; BACKGROUND: #fff; BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.style_07 A {
	COLOR: #0268cd
}
.style_08 A {
	COLOR: #0268cd
}
.style_08 {
	BACKGROUND: #062733; COLOR: #69c
}
.style_08 .col-h2 {
	COLOR: #3cf
}
.style_08 .more {
	BACKGROUND: url(style/more_blue.gif)
}
.style_08 DL A {
	COLOR: #fff
}
.style_08 UL A {
	COLOR: #fff
}
.style_07 .qh-h2 A {
	COLOR: #ccff33
}
.style_07 SPAN.bold {
	COLOR: #ccc
}
.style_08 SPAN.bold {
	COLOR: #ccc
}
.style_07 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; MARGIN-TOP: 11px; LINE-HEIGHT: 25px; BORDER-TOP-WIDTH: 0px
}
.style_08 .qh-h2 A {
	BORDER-LEFT-WIDTH: 0px; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; FONT-WEIGHT: bold; MARGIN-TOP: 11px; LINE-HEIGHT: 25px; BORDER-TOP-WIDTH: 0px
}
.style_07 .qh-h2 A:hover {
	HEIGHT: 24px; BACKGROUND: #839bb5; COLOR: #fff; MARGIN-TOP: 10px
}
.style_07 .qh-h2 A.on {
	HEIGHT: 24px; BACKGROUND: #839bb5; COLOR: #fff; MARGIN-TOP: 10px
}
.style_08 .qh-h2 A:hover {
	HEIGHT: 24px; BACKGROUND: #839bb5; COLOR: #fff; MARGIN-TOP: 10px
}
.style_08 .qh-h2 A.on {
	HEIGHT: 24px; BACKGROUND: #839bb5; COLOR: #fff; MARGIN-TOP: 10px
}
