html {
    background-color: #e6e9e9;
	background:url("img/bg.jpg") repeat fixed!important;
	background-position: center bottom;
    background-image:-moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px);
	background-image:-webkit-gradient(radial, 50% 0, 150, 50% 0, 300, from(#444), to(#111));
	font-family:Arial, Helvetica, sans-serif;
}

body {
	opacity: 0.8;
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Microsoft Yahei", SimHei, "Microsoft JhengHei", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Arial Unicode MS", Apple LiGothic Medium, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.6);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 700;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8; 
}

b, strong {
    font-weight: 700;
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

em {
    font-style: normal;
    font-weight: 700;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

