---
layout: default
---

<div class="posts">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1>{{ page.list_title | default: "Posts" }}</h1>
    {%- for post in site.posts -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <h3>
        <a href='{{ post.url | relative_url }}'>{{ post.title | escape }}</a>
        <small>{{ post.date | date: date_format }}</small>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    {%- endfor -%}
    <p class="rss-subscribe"><small>subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</small></a></p>
  {%- endif -%}

</div>
